<section>
	<div class="container bg-white">
		<div class="block">
			<h2 class="section-subheading">Versicherungs-Ratgeber</h2>
			<div class="teaser-boxes fc-black">
				<div class="row bordered big row-eq-height">
		
					<div class="col-md-6 col-sm-6 box clickable-teaser bg-white">
						<p class="nv-heading"><a href="/produkt">Auto Lorem Ypsum</a></p>
						<div class="photo">
							<img class="" src="/images/img3.jpg" alt=""/>
						</div>
						<div class="desc">
							<div class="info">
								<h3>Der Paxistest: Diese Zusatzversicherungen lohnen sich wirklich. Die sind echt der Hammer</h3>
							</div>
							<div class="person">
								<div class="avat">
									<img src="/images/avatar.jpg" alt="" />
								</div>
								<div class="data">
									&mdash; <span class="cr-date">June 08, 2016 08:45:50</span>
									<span class="name">
										Tolon Demirkazik
									</span>
								</div>
								<a href="" class="right"><i class="nvicon-arrow-right circle"></i></a>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-6 box clickable-teaser bg-white">
						<p class="nv-heading"><a href="/produkt">Reise</a></p>
						<div class="photo">
							<img class="" src="/images/img4.jpg" alt=""/>
						</div>
						<div class="desc">
							<div class="info">
								<h3>Wann sich eine Auslandskranken- versicherung wirklich lohnt. Und wann sie sich nicht lohnt.</h3>
							</div>
							<div class="person">
								<div class="avat">
									<img src="/images/avatar.jpg" alt="" />
								</div>
								<div class="data">
									&mdash; <span class="cr-date">June 6, 2016 18:19:50</span>
									<span class="name">
										Emma GroB
									</span>
								</div>
								<a href="" class="right"><i class="nvicon-arrow-right circle"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="row bordered no-border-top narrow row-eq-height">
					<div class="col-md-4 col-sm-4 box bg-white clickable-teaser">
						<p class="nv-heading">
							<a href="/produkt">Gesundheit</a>
						</p>
						<div class="photo">
							<img class="" src="/images/img5.jpg" alt=""/>
						</div>
						<div class="desc">
							<div class="info">
								<h3>Der Praxistest: Diese Zusatzversicherungen lohnen sich wirklich.</h3>
							</div>
							<div class="person">
								<div class="avat">
									<img src="/images/avatar.jpg" alt="" />
								</div>
								<div class="data">
									&mdash; <span class="cr-date">June 1, 2016 18:19:50</span>
									<span class="name">
										Tolon Demirkazik
									</span>
								</div>
								<a href="" class="right"><i class="nvicon-arrow-right circle"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 box bg-white clickable-teaser">
						<p class="nv-heading">
							<a href="/produkt">Beruf</a>
						</p>
						<div class="photo">
							<img class="" src="/images/img6.jpg" alt=""/>
						</div>
						<div class="desc">
							<div class="info">
								<h3>So sparen Berufseinsteiger bis zu 50% bei der BU-Versicherung.</h3>
							</div>
							<div class="person">
								<div class="avat">
									<img src="/images/avatar.jpg" alt="" />
								</div>
								<div class="data">
									&mdash; <span class="cr-date">May 7, 2016 18:19:50</span>
									<span class="name">
										Emma GroB
									</span>
								</div>
								<a href="" class="right"><i class="nvicon-arrow-right circle"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 box bg-white clickable-teaser">
						<p class="nv-heading">
							<a href="/produkt">Rente</a>
						</p>
						<div class="photo">
							<img class="" src="/images/img7.jpg" alt=""/>
						</div>
						<div class="desc">
							<div class="info">
								<h3>So sparen Berufseinsteiger bis zu 50% bei der BU-Versicherung.</h3>
							</div>
							<div class="person">
								<div class="avat">
									<img src="/images/avatar.jpg" alt="" />
								</div>
								<div class="data">
									&mdash; <span class="cr-date">June 8, 2016 09:00:00</span>
									<span class="name">
										Emma GroB
									</span>
								</div>
								<a href="" class="right"><i class="nvicon-arrow-right circle"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
